@font-face {
    font-family:fuenteUno;
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family:fuenteDos;
    src: url(../fonts/sf-ui-display-light.otf);
}
/*HEADER*/
header{height: 70px; box-sizing: border-box; width: 100%; } /*Ya ocupa 100% por ser caja*/
#enlaces{ width: 100%; height: 50px; text-align: left;  }
#enlaces ul{list-style-type: none; margin: 0;padding-top: 15px;}/*Quitar puntos lista , quitar maren y bajamos texto */
#enlaces ul li{display: inline-block;text-align:left; margin-left: 0px; margin-right: 60px;} /*Les pongo horizontal elementos*/
.colorWeb{background-color: #176FA6;}/*Estilo clase*/
#enlaces a {color: white; text-decoration: none; font-family:fuenteUno; text-transform: uppercase; } 
#enlaces a:hover {color: #fffb02;}

/*FOTO*/
#izquierda{margin-left:80px;}